<div class="container">
  <h1><%= @pin.title %>
  </h1>	
  <p><%= @pin.description %> </p>
  <%= link_to 'Back', root_path,class: 'btn btn-default' %>
  <%= link_to 'Edit',edit_pin_path(@pin),class: 'btn btn-default' %> 
  <%= link_to 'Delete', pin_path(@pin),method: :delete, data: {confirm: "Are you sure?"},class:'btn btn-default' %>
  
</div>


