<!DOCTYPE html>
<html>
<head>
  <title>PinBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <%= link_to "Pin Board",root_path,class:'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to_if(user_signed_in?,"Log Out",destroy_user_session_path,method: :delete) do
         link_to("Log In",new_user_session_path)
         end      
         %>
      </li>

    </ul>
       
  </nav>

<%= alert %>

<%= notice %>
<%= yield %>
</body>
</html>
